<%- include ../../partials/header.ejs %>
    <%- include ../../partials/navbar.ejs %>
        <%- include ../../partials/sidebar.ejs %>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Nominal</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="/nominal">Nominal</a></li>
                                    <li class="breadcrumb-item active">Edit</li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <!-- general form elements -->
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Edit Nominal Item "<%= nominal.itemName %>"
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- form start -->
                                    <form action="/nominal/edit/<%= nominal._id %>?_method=PUT" method="POST">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label>Item Name</label>
                                                <select class="form-control select2" style="width: 100%;"
                                                    name="itemName" required>
                                                    <option selected="selected">Select Item</option>
                                                    <option value="Diamonds" <% if(nominal.itemName=="Diamonds" ){ %>
                                                        selected
                                                        <% } %>
                                                            >Diamonds
                                                    </option>
                                                    <option value="Golds" <% if(nominal.itemName=="Golds" ){ %>
                                                        selected
                                                        <% } %>
                                                            >Golds
                                                    </option>
                                                    <option value="Gems" <% if(nominal.itemName=="Gems" ){ %>
                                                        selected
                                                        <% } %>
                                                            >Gems
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="name">Item Quantity</label>
                                                <input type="number" value="<%= nominal.itemQuantity %>"
                                                    name="itemQuantity" class="form-control" id="itemQuantity"
                                                    placeholder="Enter item qty" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="name">Price</label>
                                                <input type="number" value="<%= nominal.price %>" name="price"
                                                    class="form-control" id="price" placeholder="Enter price" required>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.card -->


                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <%- include ../../partials/footer.ejs %>
                <%- include ../../partials/js.ejs %>